@import url('./reset.css');
@import url('./base.css');

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.form input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  border: 1px solid #808080;
  padding-left: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
  color: #000;
}

.btn-submit {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn-submit:hover,
.btn-submit:focus {
  background: #6c8cff;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.photo-card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.info-item {
  font-size: 14px;
  color: #333;
}

.info-item b {
  display: block;
  font-size: 12px;
  color: #333;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: zeroRotation 1s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  transform: translate(50%, 100%);
}

@keyframes zeroRotation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(0) rotate(360deg);
  }
}

.hidden {
  display: none;
}
